.transaction-dropdown {
    background-color: white;
    color: #00bc77;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.transaction-table-header,
.transaction-type-content,
.transaction-category-content,
.transaction-note-content,
.transaction-category_highlight,
.transaction-date-description,
.transaction-price  {
    display: flex;
    align-items: center;
}

.transaction-table-header,
.transaction-type-content,
.transaction-category-content,
.transaction-note-content {
    padding: 0 15px;
}

.transaction-date,
.transaction-type,
.transaction-category,
.transaction-note {
    width: 150px;
    display: flex;
}


.transaction-category_highlight {
    gap: 5px;
}

.transaction-table-header {
    justify-content: space-between;
}

.transaction-content {
    font-size: 14px;
}

.transaction-price {
    gap: 50px;
}

.chevron-open {
    transform: rotate(-180deg);
}