.transactions-titles {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: 0 auto;
    font-size: smaller;
    padding: 0 30px;
}

.transactions-date-description,
.transactions-price {
    display: flex;
}

.transactions-date-description {
    gap: 80px;
    padding: 0 35px;
}

.transactions-price {
    gap: 42px;
    padding: 0 80px;
}